{
  "env": {
    "browser": true,
    "node": true,
  },
  "extends": [
    "@nuxt",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:tailwindcss/recommended",
  ],
  "plugins": ["nuxt", "tailwindcss"],
}
